/* Section */
.section-all-categories {
    margin: 60px auto 140px auto;
    width: 100%;
    *background-color: aqua;
}

.container-sub-all-categories {
    margin: auto;
    max-width: 1600px;
    *background-color: rgb(231, 247, 241);
    padding: 10px;
}

.container-title-all-categories, .container-input-all-categories {
    *background-color: rgb(191, 204, 204);
    margin: 30px 0;
}

.container-title-all-categories {
    background-color: var(--container-title-all-categories-color);
    padding: 20px 20px;
    color: var(--text-color);
}

.container-title-all-categories h1 {
    font-size: 33px;
}

.container-input-all-categories input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--container-title-all-categories-color);
    font-size: 20px;
    outline: none;
    color: var(--text-color);
}

.container-input-all-categories input::placeholder {
    color: var(--text-color);
    opacity: 0.8;
}

.container-categories-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.container-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: rgb(132, 197, 223);
    width: 300px;
}

.imgW {
    width: 200px;
    height: auto;
}

.filter {
    display: none;
}
